:root {
  --ifm-color-primary: #a43b8d;
  --ifm-color-primary-dark: #94357f;
  --ifm-color-primary-darker: #8b3278;
  --ifm-color-primary-darkest: #732963;
  --ifm-color-primary-light: #b4419b;
  --ifm-color-primary-lighter: #bc45a2;
  --ifm-color-primary-lightest: #c55dae;
  --ifm-table-cell-padding: 0.5rem;
}

[data-theme='dark'] {
  --ifm-color-primary: #e685d0;
  --ifm-color-primary-dark: #e376ca;
  --ifm-color-primary-darker: #e067c4;
  --ifm-color-primary-darkest: #da49b9;
  --ifm-color-primary-light: #e994d6;
  --ifm-color-primary-lighter: #eca3dc;
  --ifm-color-primary-lightest: #f2c1e7;
}

.navbar,
.navbar-sidebar__brand {
  background-image: url('/img/bg.png');
  background-size: cover;
  background-color: #000;
  box-shadow: 0 0 10px #0006;
}

.navbar__logo img {
  filter: drop-shadow(1px 1px 2px #0003);
}

.navbar__inner,
.navbar__inner a,
.navbar__inner a:hover,
.navbar-sidebar__brand,
.navbar-sidebar__brand a,
.navbar-sidebar__brand a:hover {
  color: #fff;
}

.navbar__inner .navbar__item {
  transition: background var(--ifm-transition-fast);
  border-radius: var(--ifm-global-radius);
  margin: 0 .1rem;
  padding: var(--ifm-navbar-item-padding-vertical) calc(var(--ifm-navbar-item-padding-horizontal) - .1rem);
}

.navbar__inner .navbar__item:hover,
.navbar__inner .clean-btn:hover,
.navbar-sidebar__brand .clean-btn:hover,
.navbar__inner .dropdown__link:hover {
  background-color: #fff3;
}

.navbar__inner .navbar__item.navbar__link--active,
.navbar__inner .dropdown__link.dropdown__link--active {
  background-color: #fff2;
}

.navbar-sidebar__close {
  --ifm-color-emphasis-600: #fff;
}

.navbar__toggle.clean-btn:hover,
.navbar-sidebar__close.clean-btn:hover {
  background: none;
}

.navbar-sidebar .toggleButton_gllP,
.navbar-sidebar .toggle_vylO {
  display: none !important;
}

.navbar__inner .dropdown__menu {
  background: #0c040ecc;
  border: 1px solid #fff3;
  backdrop-filter: blur(1rem);
}

.navbar__inner .github-button,
.navbar__inner .discord-button {
  width: 32px;
  height: 32px;
  font-size: 0;
  margin: 0;
  border-radius: var(--ifm-breadcrumb-border-radius);
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
}

.navbar__inner .github-button *,
.navbar__inner .discord-button * {
  display: none;
}

.navbar__inner .github-button:before,
.navbar__inner .discord-button:before {
  content: '';
  width: 22px;
  height: 22px;
  display: block;
}

.navbar__inner .discord-button:before {
  background: url('/img/discord.svg') no-repeat;
  margin: 3px 0 0 -7px;
}

.navbar__inner .github-button:before {
  background: url('/img/github.svg') no-repeat;
  margin: 1px 0 0 -7px;
}

@media (max-width: 996px) {
  .navbar__items--right > .colorModeToggle_DEke {
    display: flex !important;
  }
  
  .navbar__item.discord-button,
  .navbar__item.github-button {
    display: flex !important;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  
  .navbar__item.github-button::before {
    margin: 0 !important;
  }
}

table {
  font-family: var(--ifm-font-family-monospace);
  font-size: var(--ifm-code-font-size);
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.2rem;
}

.sidebar-hr {
  background-color: var(--ifm-toc-border-color);
  margin: .5rem .75em;
}

.sidebar-hr > .sub {
  margin-left: 1.25em;
}

.pagination-nav {
  display: none;
}

.tabs__item {
  border: 1px var(--ifm-toc-border-color) solid;
  border-radius: var(--ifm-global-radius);
  align-items: center;
  text-align: center;
  margin: .1875em;
}

.tabs__item--active {
  background-color: var(--ifm-color-primary-darker);
  border-color: var(--ifm-color-primary);
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.tabs__item--active:hover {
  background-color: var(--ifm-color-primary-dark);
  border-color: var(--ifm-color-primary-light);
}
